.ol_li_class{
color:pink;
}
.ol_li_class a{
color:green;
}
.ul_li_class{
  color:purple;
}
.ul_li_class a{
  color:red;
}
#li_lab_4{
  color:orange;
}
#a_lab_4{
  color:purple;
}
#ul_li_5>a{
  color:yellow;
}
#ul_li_5{
  color:yellow;
}
